*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 254, 251) ;
    height: ;
    
}

.navbar {
    position: fixed;
    background-size: cover;
    padding: 15px 0;
    background-color: black;
    top: 0;
    width: 100%;
    z-index: 1000;
   
    
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
    
}

.navbar-menu li {
    margin: 0 15px;
    filter: opacity(6);
    margin-top: 1rem;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    filter:;
    font-size: 18px;
    font-weight: bold;
    transition: ease-in-out 0.9s;
   
    
}

.navbar-menu a:hover {
    color: red; 
    transition:  ease-in-out 10ms;
}
.logo{
   display: flex;
  
    
    
    
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

section h1 {
    font-size: 2em;
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    align-content: center;
    gap: 1rem;
    width: 92%;
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 0px 0px 00px 00px ;
    box-shadow: 10px 10px 30px;
    margin-top: 34px;
    
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 13s infinite;
    
}
img{
  width:100%;
  
    
}
h2{
   position: relative;
   top: 28rem;
 
  
}
.word{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 20px;
   
}
.pows{
    display: flex;
   justify-content: center;

}

.grid-container{
 position: relative;
 
 
    
}
.grid-container-2{
    
    position: relative;
    width: 95%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 10px 10px 30px ;
    margin-top: 20px;
    
}
.grid-container-3{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    width: 95%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border:;
    border-radius: 0px 0px 00px 00px ;
    box-shadow: 10px 10px 30px ;
    margin-top: 20px; 
}
.grid-container-4{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    width: 95%;
    transform: translate(-50%,-50%);
  
   
    overflow: hidden;
    border:;
    border-radius: 0px 0px 00px 00px ;
    box-shadow: 10px 10px 30px ;
    margin-top: 20px; 
}
.grid-item{
    margin-top: 4rem;
}
.grid-item-2{
    width: 100%;
    display: flex;
    animation: slide-2 11s infinite;
   
   
}
.grid-item-2 img{
   height: ;
}
.grid-item-3{
    width: 100%;
    display: flex;
    animation: slide-2 11s infinite;
}
.grid-item-4{
    width: 100%;
    display: flex;
    animation: slide-3 13s infinite;
}

.hidden{
     display: grid;
     grid-template-rows: auto;
     place-items: center;
     align-content: center;
     gap: 1rem;
     position: relative;
     top: 400px;
 
}
.item-1{
    position: relative;
    border: 5px solid  rgb(94, 78, 50);
    box-shadow: 10px 10px 12px;
    transition: transform ease-in-out 650ms;
}
.item-2{
    position: relative;
    left: 40%;
    border: 5px solid  rgb(94, 78, 50);
    width: 59%;
    bottom: 5vh;
    box-shadow: 10px 10px 12px;

}

.pic{
    display: grid;
    gap: 20px;
    border-radius: 0px 0 0 0px;
    width: ;
    
}
.pic-2{
   width: ;
}
.pic-3{
    height: ;
    
}
.pic-4{
    display: grid;
    gap: 20px;
    border-radius: 0px 0 0 0px;
    width: ;
} 
.pic-5{
    width: 220px;
    display: grid;
    gap: px;  
}

.three{
    position: relative;
    
}
.container-2{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   position: ;
   
}

.contact-container{
    height: ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
   
}
.contact-left-title h2{
     font-weight: 600;
     color: black;
     font-size: 40px;
     margin-bottom: 5px;
     top: -9vh;
     position: absolute;
    

}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:black;
    border-radius: 10px;
    margin-bottom: 20px;

}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: grey;
    border-radius: 50px;

}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid red;
}
.contact-inputs::placeholder{
    color: black;

}
.contact-left button{
    display: flex;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: red;
    cursor: pointer;
}
.hidden, .grid-container, .grid-container-2,.grid-container-3,.container,.contact-container{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);

}
.grid-container-4{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.item-1:hover{
   position: relative;
  transform: translateY(-2.5rem);
  cursor: pointer;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

@keyframes slide-2{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes slide-3{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
@media (max-width:800px){
    .contact-inputs{
        width: 93vw;
        

    }
    .contact-container{
        position: absolute;
        top: 460%;
    }
    .contact-inputs{
        background-color: rgb(41, 39, 39);
        position: ;
        
    }
    .contact-inputs::placeholder{
        color: white;
        font-weight: bold;
    }
    
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}