*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 254, 251) ;
    height: ;
    width: 100%;
   
    
}
nav{
   transition: 0.6s ease transform;
    width: 100%;
    height: 15vh;
    top: 0;
    position: absolute;
    z-index: 100;
    position: fixed;
    left: 0;
    border: 7px solid white;
    box-shadow: 10px 6px 12px;

   
   
   
   
  }
  .hid{
    transform: translateY(-100%);
  }
  
  .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: ;
    padding: 12px 20px;

  }
  .menu{
    display: flex;
  }
  .menu li{
    padding-left: 30px;
  }
  .menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
  .menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:red;
    transition: 0.15s ease-in-out;
  }
  .menu li a:hover:after {
    width: 100%;
    color: red;
  }
  .open-menu,.close-menu{
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 4000;
    position: ;
    float: ;
     
  }
    .open-menu{
        top: 50%;
        right: 20px;
        transform: translateX(-50%);
        color: black;
       top: 0;
        position: fixed;

   
    }
    .close-menu{
        top: 100px;
        right: 20px;
        color: red;
        margin-top: -73px;
    }
    
   
    
  
  label .checkbtn{
   
  }
  #check{
    display: none;
  }
 


.logo{
   display: flex;
   position: relative;
   top: o;
   margin-top: 20px;
   position: fixed;
   left: 0;
  
  
    
    
    
}
.logo img{
    height: 140px;
    width: 190px;
  
   
}

section  {
    padding: 60px 20px;
    text-align: center;
    background-color:;
}

section h1 {
    font-size: 2em;
    margin: 0;
}
.container{
    display: grid;
    grid-template-rows: auto;
    place-items: ;
    align-content: ;
    gap: 1rem;
    width: 95%;
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 10px 10px 30px;
    top: 140px;
    margin-left: -12px;
   
    
    
}


.wrapper{
    width: 100%;
    display: flex;
    animation: slide 13s infinite;
    height: 500px;
    filter: opacity(0.65);
    
}
img{
  width:100%;
  
    
}
h2{
   position: relative;
   top: 1rem;
 
  
}
.word{
    font-size: 17px;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
   
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    
  
   
   
    
   
}
.luxury{
    font-size: 27px;
    width: 100%;
    margin-left: 10px;
    position: relative;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 13px;
    flex-direction: column;
    text-align: left;
   
    
   
    
   
}
.city{
    position: relative;
    font-size: 17px;
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    flex-direction: column;
    text-align: left;
    font-family: 'Roboto', sans-serif;

   
}
.estate{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.lush{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}


.pows{
    display: flex;
   justify-content: center;
   font-size: 23px;

}

.grid-container{
 position: relative;

 
 
 
    
}
.grid-container-2{
    
    position: relative;
    width: 95%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 10px 10px 30px ;
    margin-top: 20px;
    
}
.grid-container-3{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    width: 95%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border:;
    border-radius: 0px 0px 00px 00px ;
    box-shadow: 10px 10px 30px ;
    margin-top: 20px; 
}
.grid-container-4{
    display: grid;
    grid-template-rows: auto;
    position: relative;
    width: 95%;
    transform: translate(-50%,-50%);
  
   
    overflow: hidden;
    border:;
    border-radius: 0px 0px 00px 00px ;
    box-shadow: 10px 10px 30px ;
    margin-top: 20px; 
}
.grid-item{
    margin-top: 4rem;
   
    
}
.grid-item-01{
    margin-top: 4rem;
    height: 54vh;
    border: 4px solid white;
    background-color: rgb(255, 254, 254);
    box-shadow: 6px 8px 15px;
    transition: 0.5s ease-in-out;
}
.grid-item-0{
    margin-top: 4rem;
    border: 4px solid white;
    height: 65vh;
    width: 100%;
    background-color: rgb(255, 254, 254);
    box-shadow: 6px 8px 15px;
    transition: 0.5s ease-in-out;
   
   
    
}
.grid-item-0:hover{
    transform: translateY(-2.5rem);
    cursor: pointer;
    box-shadow: 14px 12px 9px;
}
.grid-item-01:hover{
    transform: translateY(-2.5rem);
    cursor: pointer;
    box-shadow: 14px 12px 9px;
}
.grid-item-2{
    width: 100%;
    display: flex;
    animation: slide-2 11s infinite;
   
   
}
.grid-item-2 img{
   height: ;
}
.grid-item-3{
    width: 100%;
    display: flex;
    animation: slide-2 11s infinite;
}
.grid-item-4{
    width: 100%;
    display: flex;
    animation: slide-3 13s infinite;
}

.hidden{
     display: grid;
     grid-template-rows: auto;
     place-items: center;
     align-content: center;
     gap: 1rem;
     position: relative;
     top: 250px;
 
}
.item-1{
    position: relative;
    border: 5px solid  rgb(94, 78, 50);
    box-shadow: 10px 10px 12px;
    transition: transform ease-in-out 650ms;
}
.item-2{
    position: relative;
    left: 40%;
    border: 5px solid  rgb(94, 78, 50);
    width: 59%;
    bottom: 5vh;
    box-shadow: 10px 10px 12px;

}
.item-2 .pic-5{
    width: 100%;
}


.pic{
    display: grid;
    gap: 20px;
    border-radius: 0px 0 0 0px;
    width: ;
    
}
.pic-2{
   width: ;
}
.pic-3{
    height: ;
    
}
.pic-4{
    display: grid;
    gap: 20px;
    border-radius: 0px 0 0 0px;
    width: ;
} 
.pic-5{
    width: 220px;
    display: grid;
    gap: px;  
}

.three{
    position: relative;
    
   
    
}
.container-2{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   position: ;
   
}

.contact-container{
    height: ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, white, black, white );
    width: 100%;
    position: relative;
    left: 0;
   
   
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
   
}
.contact-left-title h2{
     font-weight: 600;
     color: black;
     font-size: 40px;
     margin-bottom: 5px;
     top: -9vh;
     position: absolute;
    

}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:black;
    border-radius: 10px;
    margin-bottom: 20px;

}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: grey;
    border-radius: 50px;

}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid red;
}
.contact-inputs::placeholder{
    color: black;

}
.contact-left button{
    
}
.hidden, .grid-container, .grid-container-2,.grid-container-3,.container,.contact-container{
    opacity: 0;
    transition: all 0.7s ease;
    filter: blur(5px);
    transform: translateX(-100%);

}
.grid-container-4{
    opacity: 0;
    transition: all 0.7s ease;
    filter: blur(5px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.item-1:hover{
   position: relative;
  transform: translateY(-2.5rem);
  cursor: pointer;
}
.landing{
    z-index: 9;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    color:;
    font-size: 27.4px;
    font-family: 'Lato', sans-serif;
   
   font-weight: 700;
   filter: opacity(3);
   margin-top: 150px;
   color: rgb(24, 3, 3);
  

  
 
    
}
.benefits{
    position: relative;
    z-index: 5;
    height: 1.1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: calc(1.1em + 10px);
}
.benefits span{
     background:  linear-gradient(to right, blue, red, green);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
    animation: auto-scroll 15s infinite;
   
    height: ;
}
.welc, .welc-2, .welc-3, .welc-4, .benefits{
    margin-bottom: 10px;
}
.welc-5{
    font-size: ;
}
footer{
    background-color:rgb(12, 11, 11) ;
    bottom: -960px;
    position: relative;

}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 2em;
    color: black;
    
}
.social-icons a:hover{
    background-color: red;
    transition: 0.5s;
}
.social-icons a:hover i{
    color: wheat;
    transition: 0.5s;
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer-nav ul li a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-nav ul li a:hover{
    opacity: 1;
    color: red;
}
.footer-bottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0px 5px;
}
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
@keyframes auto-scroll {
      0%{
        transform: translateY(0);
      }
      5%{
        transform: translateY(0);
      }
      10%{
        transform: translateY(-1.3em);
      }
      30%{
        transform: translateY(-1.3em);
      }
      35%{
        transform: translateY(-2.3em);
      }
      55%{
        transform: translateY(-2.3em);
      }
      60%{
        transform: translateY(-3.3em);
      }
      80%{
        transform: translateY(-3.3em);
      }
      85%{
        transform: translateY(-4.3em);
      }
       100%{
        transform: translateY(-4.5em);
      }


}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
}

@keyframes slide-2{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes slide-3{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
@media (max-width:800px){
    .contact-inputs{
        width: 93vw;
        

    }
    .contact-container{
        position: absolute;
        top: 460%;
    }
    .contact-inputs{
        background-color: rgb(41, 39, 39);
        position: ;
        
    }
    .contact-inputs::placeholder{
        color: white;
        font-weight: bold;
    }
    
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
@media(max-width:610px){
.menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5000;
    background-color:black;
    filter: opacity(0.979);
    transition: all 0.25s ease-in-out;
}
.menu li{
    margin-top: 40px;
    
}
.logo{
   z-index:600 ;
   
   
}
.logo img{
    height: 100px;
    width: 150px;
    margin-top: 25px;
  
   
}
nav{
    transition: 0.5s ease transform;
     width: 100%;
     background-color: white;
  
     height: 13.4vh;
     top: 0;
     position: absolute;
     z-index: 100;
     position: fixed;
     left: 0;
     border: 2px solid white;
     box-shadow: 10px 6px 12px;
     
 
    
    
    
    
   }
 

.menu li a{
    padding: 10px;

}
.menu li a:hover{
    color: red;
    transition: 0.8s ease-in-out;
}
.open-menu, .close-menu {
    display: block;
    position: fixed;
   
   
    
}
.close-menu{
  
 
}

#check:checked ~ .menu {
    right: 0;
}
.footer-nav ul{
    flex-direction: column;
    
}
.footer-nav ul li{
    text-align: center;
    width: 100%;
    margin: 10px;
}
}

@media (min-width: 824px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: black;
        padding: 12px 20px;
    }
  }
  @media(max-width:320px){
    .logo{
    display: flex;
    position: relative;
    top: o;
    margin-top: 20px;
    position: fixed;
    left: 0;
 }      
 .logo img{
    width: 100px;
    height: 90px;
 }
  nav{
    height: 20vh;
  }
  .landing{
    font-size: 24px;
    position: relative;
    margin-top: 200px;
  }
  .grid-item-0{
    margin-top: 4rem;
    border: 4px solid white;
    height: 79vh;
    width: 100%;
    background-color: rgb(255, 254, 254);
    box-shadow: 6px 9px 8px;
    transition: 0.5s ease-in-out;
   
   
    
}
.grid-item-01{
    margin-top: 4rem;
    height: 75vh;
    border: 4px solid white;
    background-color: rgb(255, 254, 254);
    box-shadow: 6px 8px 15px;
    transition: 0.5s ease-in-out;
}
  }